<%- include('./partials/header') %>

<% if(error.length > 0){ %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

<div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md px-8">
        <h4 class="text-2xl capitalize mb-5 text-center">Login your account</h4>
        <form autocomplete="on" action="/users/login" method="post">
            <input
                class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                type="email" placeholder="Email" name="email">
            <input
                class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                type="password" placeholder="Password" name="password">
            <input class="px-5 block w-full rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                value="Login">
        </form>
        <div class="mt-1.5 text-center">
            Don't have an account? &nbsp;<a href="/registerpage" class="text-blue-500 mt-1.5">Register</a>
        </div>
        <div class="mt-2 text-center">
            <span class="text-slate-500">
                or you can sign up with &nbsp;
            </span>
            <a href="/"><i class="fa-brands fa-google"></i></a>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
